
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/about">About</a></li>
    </ol>
</nav>
<h1>About</h1>
<p>This is Node/Express App for jotting down ideas for future youtube videos</p>
<p>version: 1.0.0</p>