{{>_breadCrump}}
<h3 class="mb-3">Let us know who you are</h3>
<div class="card">
    <h5 class="card-header">Log in</h5>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        {{#if msg}}
            <div class="alert alert-danger">{{msg}}</div>
        {{/if}}
        <form action="/users/login" method="post">
            <div class="mb-3">
                <label for="mail" class="form-label">Email address</label>
                <input required type="email" name="email" class="form-control" id="mail" aria-describedby="emailHelp">
                <div class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input required type="password" name="password" class="form-control" id="password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="savepassword">
                <label class="form-check-label" for="savepassword">Check me out</label>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
            <a href="/users/register" class="btn btn-warning">register</a>
        </form>
        <div class="mt-4">
            <h5>Social login</h5>
            <ul class="social-login__buttons">
                <li class="social-login__button"><a href="/oauth/kakao" class="btn social-btn btn-kakao">
                    <span><img class="social-login__icon" src="/images/kakao-social-btn_icon.png"
                               alt="login with kakao"></span>
                    login with kakao</a>
                </li>
                <li class="social-login__button"><a href="/oauth/google" class="btn social-btn btn-google">
                    <span><img class="social-login__icon" src="/images/google-social-btn_icon.png"
                               alt="login with google"></span>
                    login with google</a>
                </li>
                <li class="social-login__button"><a href="/oauth/naver" class="btn social-btn btn-naver">
                    <span><img class="social-login__icon" src="/images/naver-social-btn_icon.png"
                               alt="login with naver"></span>
                    login with naver</a>
                </li>
            </ul>
        </div>
    </div>
</div>
