
.btn-block{
  width: 100%;
}
/*social btns*/
.social-login__buttons{
  list-style: none;
}
.social-btn{

  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 14px 12px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
  min-width: 290px;
}
.btn-kakao{
  background-color: #FFE500;
}
.btn-naver{
  background-color: #18CE5F;
  color: #fff;
}
.btn-google{
  background-color: #E14A32;
  color: #fff;

}
.social-login__buttons{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 12px 12px;
  margin: 0px;
}
.social-login__icon{
  width: 29px;
  height: 29px;
}
.social-login__button{
}
.social-login__button + .social-login__button{

}
